.moda{
    color: white;
    background-color: #BB86FC ;
    font-size: 20px;
}

.dados{
    color: white;
    background-color:#424250 ;
    font-size: 18px;
}

.casa{
    color: white;
    background-color:#00C4B4;
    font-size: 20px;
}